@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

/* navbar */


/* navbar */



.bg .container {
    position: relative;
    width: 100;
    height: 100vh;
    overflow: hidden;
}

.bg .bubbles {
    position: relative;
    display: flex;
}

.bg .bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bg .bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.footer-basic {
    padding: 20px 0;
    background-color: #0c192c;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.0;
    margin-bottom: 0;
}


.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
   
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 0vh;
}

.footer-basic .credit-edit {
    
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 0vh;
}

.footer-basic .credit-edit .zerosrc {
    color: rgb(255, 113, 165);
}