<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Valonshop</title>
  
  <link rel="stylesheet" href="/assets/css/index-style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  
</head>

<body>
  <!-- navbar -->
  <header>
    <a href="#" class="logo"><img class="setlogo" src="../assets/images/LGOVALON.png"><span></span></a>
    <ul class="navbar">
      <li><a href="" class="active">Main</a></li>
      <li><a href="products">Products</a></li>
      <li><a href="login">History</a></li>
      <li><a href="login">How To</a></li>
      <li><a href="https://www.facebook.com/NizAfter">Contact</a></li>
    </ul>
    <div class="main">
      <a href="login" class="user">Sign in</a>
      <a href="register" class="register">Register</a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </header>
  <!-- navbar -->
  <!-- main -->

  <div class="mainbox">
        <div class="page-content">
          <section class="banner">
            <div class="slider-wrapper">
              <div class="slider">
                <img id="banner-1" src="../assets/images/banner1.png">
                <img id="banner-2" src="../assets/images/banner2.png">
                <img id="banner-3" src="../assets/images/banner3.png">
              </div>
              <div class="slider-nav">
                <a href="#banner-1"></a>
                <a href="#banner-2"></a>
                <a href="#banner-3"></a>
              </div>
            </div>
          </section>
          
        </div>
  </div>
  <!-- main -->
  <!-- background -->
  <section class="bg">
    <div class="container">
      <div class="bubbles">
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:19;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:29;"></span>
        <span style="--i:12;"></span>
        <span style="--i:20;"></span>
        <span style="--i:23;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:27;"></span>
        <span style="--i:16;"></span>
        <span style="--i:22;"></span>
        <span style="--i:27;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:25;"></span>
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:12;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:21;"></span>
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:19;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:29;"></span>
        <span style="--i:12;"></span>
        <span style="--i:20;"></span>
        <span style="--i:23;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:17;"></span>
        <span style="--i:16;"></span>
        <span style="--i:22;"></span>
        <span style="--i:27;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:25;"></span>
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:27;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:12;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:7;"></span>
        <span style="--i:16;"></span>
        <span style="--i:22;"></span>
        <span style="--i:27;"></span>
        <span style="--i:28;"></span>
        <span style="--i:19;"></span>
        <span style="--i:25;"></span>
      </div>
    </div>
  </section>
  <!-- background -->


  <!-- footer -->
  <div class="footer-basic">
    <footer>
      <p class="copyright">Copyright © 2022 ValonShop.com - All Right Reserved.</p>
      <p class="credit-edit">Dev by <a class="zerosrc" href="https://www.facebook.com/ZeroSRC.NW"> Zero SRC.Nx</a></p>
    </footer>
  </div>
  <!-- footer -->
    <script src="scripts/indexscript.js"></script>
    <script src="scripts/bannerscript.js"></script>
</body>
</html>