<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Valonshop</title>
  <link rel="stylesheet" href="style.css">
</head>

  <body>
    <!-- navbar -->
    
    <!-- navbar -->





    <!-- main -->
    <!-- background -->
    <div class="bg">
      <div class="container">
        <div class="bubbles">
          <span style="--i:11;"></span>
          <span style="--i:21;"></span>
          <span style="--i:19;"></span>
          <span style="--i:15;"></span>
          <span style="--i:16;"></span>
          <span style="--i:29;"></span>
          <span style="--i:12;"></span>
          <span style="--i:20;"></span>
          <span style="--i:23;"></span>
          <span style="--i:14;"></span>
          <span style="--i:19;"></span>
          <span style="--i:27;"></span>
          <span style="--i:16;"></span>
          <span style="--i:22;"></span>
          <span style="--i:27;"></span>
          <span style="--i:18;"></span>
          <span style="--i:19;"></span>
          <span style="--i:25;"></span>
          <span style="--i:11;"></span>
          <span style="--i:21;"></span>
          <span style="--i:12;"></span>
          <span style="--i:15;"></span>
          <span style="--i:16;"></span>
          <span style="--i:21;"></span>
          <span style="--i:11;"></span>
          <span style="--i:21;"></span>
          <span style="--i:19;"></span>
          <span style="--i:15;"></span>
          <span style="--i:16;"></span>
          <span style="--i:29;"></span>
          <span style="--i:12;"></span>
          <span style="--i:20;"></span>
          <span style="--i:23;"></span>
          <span style="--i:14;"></span>
          <span style="--i:19;"></span>
          <span style="--i:17;"></span>
          <span style="--i:16;"></span>
          <span style="--i:22;"></span>
          <span style="--i:27;"></span>
          <span style="--i:18;"></span>
          <span style="--i:19;"></span>
          <span style="--i:25;"></span>
          <span style="--i:11;"></span>
          <span style="--i:21;"></span>
          <span style="--i:27;"></span>
          <span style="--i:15;"></span>
          <span style="--i:16;"></span>
          <span style="--i:12;"></span>
          <span style="--i:14;"></span>
          <span style="--i:19;"></span>
          <span style="--i:7;"></span>
          <span style="--i:16;"></span>
          <span style="--i:22;"></span>
          <span style="--i:27;"></span>
          <span style="--i:28;"></span>
          <span style="--i:19;"></span>
          <span style="--i:25;"></span>
        </div>
      </div>
    </div>
    <!-- background -->
    <!-- main -->

    <!-- footer -->
    
      <div class="footer-basic">
        <footer>
            <p class="copyright">Copyright © 2022 ValonShop.com - All Right Reserved.</p>
            <p class="credit-edit">Dev by <a class="zerosrc" href="https://www.facebook.com/ZeroSRC.NW"> Zero SRC</a></p>
        </footer>
  
    <!-- footer -->
  </body>
</html>