<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Valonshop</title>
  <link rel="stylesheet" href="style.css">
</head>

  <body>
    <!-- navbar -->
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          <img src="assets/images/logo.png" alt="">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Search End ***** -->
                      <div class="search-input">
                        <form id="search" action="#">
                          <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                          <i class="fa fa-search"></i>
                        </form>
                      </div>
                      <!-- ***** Search End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="index.html" class="active">Home</a></li>
                          <li><a href="browse.html">Product</a></li>
                          <li><a href="details.html">How to</a></li>
                          <li><a href="streams.html">Contact</a></li>
                          <li><a href="profile.html">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                      </ul>   
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
    </header>
    <!-- navbar -->





    <!-- main -->
    <div class="container">
      <div class="bubbles">
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:19;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:29;"></span>
        <span style="--i:12;"></span>
        <span style="--i:20;"></span>
        <span style="--i:23;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:27;"></span>
        <span style="--i:16;"></span>
        <span style="--i:22;"></span>
        <span style="--i:27;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:25;"></span>
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:12;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:15;"></span>
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:19;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:29;"></span>
        <span style="--i:12;"></span>
        <span style="--i:20;"></span>
        <span style="--i:23;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:17;"></span>
        <span style="--i:16;"></span>
        <span style="--i:22;"></span>
        <span style="--i:27;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:25;"></span>
        <span style="--i:11;"></span>
        <span style="--i:21;"></span>
        <span style="--i:7;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:12;"></span>
        <span style="--i:14;"></span>
        <span style="--i:19;"></span>
        <span style="--i:7;"></span>
        <span style="--i:16;"></span>
        <span style="--i:22;"></span>
        <span style="--i:27;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:25;"></span>

      </div>
    </div>
    <!-- main -->

    <!-- footer -->
    
      <div class="footer-basic">
        <footer>
            <p class="copyright">Copyright © 2022 Valon Shop - All Right Reserved.</p>
            <br>
            <p class="credit-edit">Edit by <a class="zerosrc" href="https://www.facebook.com/ZeroSRC.NW"> Zero SRC</a></p>
        </footer>
  
    <!-- footer -->
  </body>
</html>